body {
  background: url("background.jpg");
  display: flex;
  min-height: 100vh;
  display: flex;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

#left {
  width: 45%;
  border-right: 1px white solid;
}

#right {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top,
#bottom {
  background-color: rgba(228, 228, 228, 0.87);
  height: 39%;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem;
}

#top p,
legend {
  font-size: 1.5rem;
  font-weight: bolder;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#form {
  background-color: white;
  flex: auto;
  padding: 24px 24px 0 24px;
}

fieldset {
  display: flex;
  border-width: 0;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-right: 48px;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

label {
  font-family: "Roboto", sans-serif;
  color: rgb(83, 83, 83);
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 3px;
  letter-spacing: 0.11rem;
}

#form input {
  appearance: none;
  -webkit-appearance: none;
  height: 1.8rem;
  width: 300px;
  border-radius: 6px;
  border-width: 1px;
  border-color: #e5e7eb;
  font-size: 1rem;
  padding-left: 1rem;
}

#form input:focus {
  outline: none;
  border: rgb(115, 196, 243) solid 1px;
  box-shadow: 2px 2px 3px 0px #000000;
}

#bottom {
  font-size: 1.3rem;
  padding: 3rem;
}

#bottom a {
  color: #596d48;
  text-decoration: none;
}
#button input {
  height: 56px;
  width: 250px;
  background-color: #596d48;
  border-radius: 6px;
  color: white;
  font-size: 1.35rem;
  font-weight: 500;
  border-style: none;
}

#button input:focus,
#button input:hover {
  background-color: #455338;
}

#button input:active {
  background-color: #803409;
}


