body {
  background: url("background.jpg");
  display: flex;
  min-height: 100vh;
  display: flex;
  margin: 0;
}

#left {
  width: 35%;
  border-right: 1px white solid;
}

#right {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top,
#bottom {
  background-color: rgba(194, 194, 194, 0.87);
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

#top p, legend {
  font-size: 1.5rem;
  font-weight: bolder;
}

#form {
  background-color: white;
}
